<div *ngIf="voiceActiveSectionDisabled; else voicesection;">
    <button type="button" (click)="startVoiceRecognition()">Record</button>
  </div>
  <ng-template #voicesection>
    <ng-container *ngIf="!voiceActiveSectionError; else failure">
      <ng-container>
          <span>{{voiceText}}</span>
      </ng-container>
      <ng-template #start>
        <ng-container
          *ngIf="voiceActiveSectionListening; else beginning">
          <span>Listening...</span>
        </ng-container>
        <ng-template #beginning>
          <span>Start talking...</span>
        </ng-template>
      </ng-template>
    </ng-container>
    <ng-template #failure>
      <span>Didn't catch that</span>
    </ng-template>
    <div>
      <button (click)="closeVoiceRecognition()">Close</button>
      <button (click)="startVoiceRecognition()">Restart</button>
    </div>
  </ng-template>