.mat-dialog-content{
    min-width: 500px;
}
.mat-list-base{
    border-style: solid;
    border-width: thin;
}
.lookUpIcon{
    position: absolute;
}
.primaryButton{
    background-color: #673ab7;
}

.accentButton{
    background-color: #f44336;
}
.accentButton:focus{
    outline: none;
}
.height200px{
    height: 200px;
    overflow: auto;
}
.floatRight{
    float: right;
}
.lookUpIcon{
    position: absolute;
}
.keyboardVoiceWhite{
    color: white;
}
.width90{
    width: 90%;
}
.marginBottom10 {
    margin-bottom: 10px;
}