<div class="at-app">
  <div class="at-sidebar">
  </div>
  <at-admin-template></at-admin-template>
  <div class="at-main">
    <mat-toolbar layout="fill">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      {{ title }}
      <span class="fill-space"></span>
      <button mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container-fluid">
      <ngb-alert [dismissible]="true">
          <strong>Warning!</strong> Better check yourself, you're not looking too good.
      </ngb-alert>

      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
      <button mat-raised-button>
        <mat-icon>mic</mat-icon> 
        Start Recording
      </button>

      <router-outlet></router-outlet>
    </div>
  </div>
  
</div>