<div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-title">Nav Title</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active">
            <!-- core ui icon -->
            <i class="nav-icon cui-home"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="table" routerLinkActive="active">
            <!-- fontawesome icon -->
            <i class="nav-icon fa fa-table"></i> Table
            <span class="badge badge-primary">NEW</span>
          </a>
        </li>
        <!--
        <li class="nav-title">Just Demo</li>
        -->
        <li class="nav-item nav-dropdown" appToggle>
          <a class="nav-link nav-dropdown-toggle" href="#">
            <!-- material icon -->
            <mat-icon class="nav-icon">home</mat-icon> Nav dropdown
          </a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="nav-icon cui-puzzle"></i>Nav dropdown item
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="nav-icon cui-puzzle"></i> Nav dropdown item
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button" (click)="doMinimize()"></button>
  </div>