<!--
https://coreui.io/docs/components/sidebar/
-->
<ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-title">Admin-Template</li>
    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" routerLink="home" routerLinkActive="c-active">
            <!-- core ui icon -->
            <i class="c-sidebar-nav-icon cil-home"></i> Home
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" routerLink="table" routerLinkActive="c-active">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-table"></i> Material Table
        </a>
    </li>

    <li class="c-sidebar-nav-item">
        <a class="c-sidebar-nav-link" href="https://github.com/sterlp/admin-template">
            <!-- fontawesome icon -->
            <i class="c-sidebar-nav-icon fa fa-github"></i> Github
            <span class="badge badge-primary">NEW</span>
        </a>
    </li>

    <!-- allow hosted content -->
    <ng-content></ng-content>
</ul>

