<!-- action bar in breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
        <!-- Breadcrumb Menu-->
        <li class="breadcrumb-menu">
            <div class="btn-group" role="group">
                <button mat-button>Click me!</button>
                <a class="btn" href="#"><i class="fa fa-floppy-o"></i> Save</a>
                <a class="btn" href="#"><i class="cui-action-undo"></i> Cancel</a>
            </div>
        </li>
    </ol>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <mat-form-field>
                <input matInput placeholder="First Name">
            </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field>
                <input matInput placeholder="Last Name">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <mat-form-field>
                <input matInput placeholder="City" name="city">
            </mat-form-field>
        </div>

        <div class="col-sm">
            <mat-form-field>
                <input type="email" matInput placeholder="Email">
            </mat-form-field>
        </div>
    </div>
</div>