<!-- action bar in breadcrumb -->
<div class="c-subheader justify-content-between px-3 c-header-shadow">
    <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
        <li class="breadcrumb-item" aria-current="page">Home</li>
        <li class="breadcrumb-item active" aria-current="page">Active</li>
    </ol>
    <!-- Breadcrumb Menu-->
    <div class="c-subheader-nav">
        <div class="btn-group" role="group">
            <button mat-button>Click me!</button>
            <a class="btn" href="#"><i class="fa fa-floppy-o"></i> Save</a>
            <!-- https://coreui.io/docs/components/bootstrap/icons/#coreui-icons-free-502-icons -->
            <a class="btn" href="#"><i class="cil-action-undo"></i> Cancel</a>
        </div>
    </div>
</div>
<main class="c-main">

    <div class="container-fluid">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Card Title</mat-card-title>
                <mat-card-subtitle>Subtitle</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <input matInput placeholder="First Name">
                        </mat-form-field>
                    </div>

                    <div class="col-sm">
                        <mat-form-field>
                            <input matInput placeholder="Last Name">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm">
                        <mat-form-field>
                            <input matInput placeholder="City" name="city">
                        </mat-form-field>
                    </div>

                    <div class="col-sm">
                        <mat-form-field>
                            <input type="email" matInput placeholder="Email">
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</main>
